@(answersForm: Form[widgets.TasksAssignment])(implicit request: RequestHeader, messages: Messages)

@import helper._

<!-- user answers form rendering goes here -->

@main("Assignment") {
    <h1>Please solve this assignment:</h1>
    @form(action = CSRF(routes.Assignments.solveAssignment())) {
        @repeat(answersForm("answers")) { taskFields =>
            @inputText(taskFields("taskText"), 'style -> "display: none", '_label -> "")
            @inputText(taskFields("answerText"), '_label -> ("Type in the result of: "+taskFields("taskText").value.get))
            @inputText(taskFields("answerCheckId"), 'style -> "display: none", '_label -> "")
        }
        <button type="submit">Done!</button>
    }
}

@*


val userAnswersForm = Form(
mapping(
"answers" -> seq(
mapping(
"taskText" -> text,
"answerText" -> text,
"answerCheckId" -> longNumber   //TODO: replace with UUID
)(AnsweredUserTask.apply)(AnsweredUserTask.unapply)
),
)(TasksAssignment.apply)(TasksAssignment.unapply)
)

*@