@(answersForm: Form[widgets.TasksAssignment])(implicit request: RequestHeader, messages: Messages)

@import helper._

<!-- user answers form rendering goes here -->

@helper.form(action = CSRF(routes.Assignments.solveAssignment())) {
    @helper.repeat(answersForm("answers")) { taskFields =>
        @helper.inputText(taskFields("taskText"), 'style -> "display: none", '_label -> "")
        @helper.inputText(taskFields("answerText"), '_label -> ("Type in the result of: "+taskFields("taskText").value.get))
        @helper.inputText(taskFields("answerCheckId"), 'style -> "display: none", '_label -> "")
    }
    <button type="submit">Done!</button>
}

@*


val userAnswersForm = Form(
mapping(
"answers" -> seq(
mapping(
"taskText" -> text,
"answerText" -> text,
"answerCheckId" -> longNumber   //TODO: replace with UUID
)(AnsweredUserTask.apply)(AnsweredUserTask.unapply)
),
)(TasksAssignment.apply)(TasksAssignment.unapply)
)

*@